:root {
  --bg-color-blue: #3b49df;
  --bg-color-blue-hover: #323ebe;
  --color-chat: #eef0f1;
  --color-msg-primary: #323ebe;
  --color-msg-secundary: #b5bdc4;
}
.nav {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}
.nav-title {
  margin: 20px auto;
  font-size: 60px;
  font-weight: 700;
}
.nav-btn {
  border: none;
  border-radius: 5px;
  color: white;
  padding: 10px 20px;
  font-size: 22px;
  font-weight: 700;
  margin-right: 30px;
  background-color: var(--bg-color-blue);
  transition: all 0.5s ease;
}
.nav-btn:hover {
  background-color: var(--bg-color-blue-hover);
}
.nav-btn:focus {
  outline: none;
}
.chat-box {
  background: var(--color-chat);
  margin: 0 auto;
  height: 40vh;
  border-radius: 20px;
  overflow-y: scroll;
  padding: 10px 20px;
}
.msg-chat {
  display: inline-block;
  font-size: 18px;
  font-weight: 600;
  overflow-wrap: anywhere;
  color: #fff;
  min-height: 20px;
  min-width: 10%;
  max-width: 40%;
  padding: 10px 10px;
  border-radius: 30px;
}
.first-person {
  background: var(--color-msg-primary);
  float: right;
}
.second-person {
  background: var(--color-msg-secundary);
}
.container-chat {
  font-family: Arial, Helvetica, sans-serif;
  padding: 10px 30px;
}
.chat-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
}
.container-msg{
  display: block;
  clear: both;
  width: 100%;
}


.switcher-div {
  padding-top: 1em;
  text-align: center;
}

#messageForm {
  text-align: center;
  margin-top: 1.5em;
}

#messageForm input {
  height: 2em;
  width: 23em;
  border-radius: 3em;
  padding: 1em;
}

#messageForm button {
  margin-left: 2em;
  height: 2.7em;
  width: 6.2em;
  border-radius: 25px;
  border: none;
  cursor: pointer;
}

.clear-button {
  background: #d40000;
  color: #fff;
  float: right;
  margin-right: 3em;
  text-align: center;
  height: 2.5em;
  width: 8em;
  cursor: pointer;
}

.switcher {
  background: #cecece;
  color: #141414;
  height: 2.5em;
  width: 6em;
  border-radius: 25px;
  border: 1px solid black;
  margin-right: 1em;
  cursor: pointer;
}

.notify {
  position: absolute;
  background: #db0000;
  color: white;
  height: 1em;
  width: 1em;
  border-radius: 100%;
  padding: 0.15em;
  margin-left: 0.5em;
  margin-top: -0.5em;
}
