:root {
  --bg-color-blue: #3b49df;
  --bg-color-blue-hover: #323ebe;
  --color-chat: #eef0f1;
  --color-msg-primary: #323ebe;
  --color-msg-secundary: #b5bdc4;
}
.inform {
  margin-top: 100px;
  width: 100%;
  font-size: 40px;
  font-weight: 700;
  text-align: center;
}

.nav {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}
.nav-title {
  margin: 20px auto;
  font-size: 60px;
  font-weight: 700;
}
.btn {
  border: none;
  border-radius: 5px;
  color: white;
  padding: 10px 20px;
  font-size: 22px;
  font-weight: 700;
  margin-right: 30px;
  background-color: var(--bg-color-blue);
  transition: all 0.5s ease;
}
.btn:hover {
  background-color: var(--bg-color-blue-hover);
}
.btn:focus {
  outline: none;
}
.chat-box {
  background: var(--color-chat);
  margin: 0 auto;
  height: 40vh;
  border-radius: 20px;
  overflow-y: scroll;
  padding: 10px 20px;
}
.msg-chat {
  display: inline-block;
  font-size: 18px;
  font-weight: 600;
  overflow-wrap: anywhere;
  color: #fff;
  min-height: 20px;
  min-width: 10%;
  max-width: 40%;
  padding: 10px 10px;
  border-radius: 30px;
}
.first-person {
  background: var(--color-msg-primary);
  float: right;
}
.second-person {
  background: var(--color-msg-secundary);
}
.container-chat {
  font-family: Arial, Helvetica, sans-serif;
  padding: 10px 30px;
}
.chat-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
}
.container-msg {
  display: block;
  clear: both;
  width: 100%;
}

.modal-style {
  border-radius: 30px;
  outline-style: none;
  width: 40%;
  text-align: center;
  margin: 10% auto;
  color: white;
  background-color: var(--bg-color-blue);
  padding: 40px;
  -webkit-box-shadow: 2px 10px 74px 38px rgba(181, 189, 196, 1);
  -moz-box-shadow: 2px 10px 74px 38px rgba(181, 189, 196, 1);
  box-shadow: 2px 10px 74px 38px rgba(181, 189, 196, 1);
}
.title-modal {
  font-size: 38px;
  text-transform: uppercase;
  font-weight: 700;
  padding-bottom: 10px;
}
.input-modal {
  padding: 10px 20px;
  border-radius: 5px;
  outline: none;
  font-size: 22px;
}

.btn-modal {
  border: none;
  border-radius: 5px;
  color: black;
  padding: 10px 20px;
  margin-left: 10px;
  font-size: 22px;
  font-weight: 700;
  background-color: white;
  transition: all 0.5s ease;
}
.btn-modal:hover {
  background-color: var(--color-chat);
}

.btn-close{
  background-color: red;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 22px;
  margin-left: 10px;
  font-weight: 700;
  margin-right: 30px;
}

#messageForm {
  text-align: center;
  margin-top: 1.5em;
}

#messageForm input {
  height: 20px;
  width: 400px;
  font-size: 18px;
  border-radius: 3em;
  padding: 1em;
  margin-right: 10px;
  outline: none;
}
